template=plaintext
[Adblock Plus 2.0]

! filters/blocking
||{{ site_url|strip_proto }}/testcasefiles/blocking/addresscomplete/image.jpg
/testcasefiles/blocking/addresspart/abptestcasepath/
||{{ site_url|strip_proto }}/testcasefiles/blocking/wildcard/*/image.jpg

! filters/element-hiding
{{ site_url|domain }}###testcase-eh-id
{{ site_url|domain }}##.testcase-eh-class
{{ site_url|domain }}##.testcase-container > .testcase-eh-descendant
{{ site_url|domain }}##.testcase-eh-sibling + .testcase-eh-sibling-target
{{ site_url|domain }}##table[height="100"][width="100"]
{{ site_url|domain }}##a[href="http://testcase-attribute.com/"]
{{ site_url|domain }}##div[style="width:199px;height:51px;"]
{{ site_url|domain }}##a[href^="http://testcase-attributestartswith.com/"]
{{ site_url|domain }}##div[style^="width:201px;height:51px;"]
{{ site_url|domain }}##div[style$="width:202px;height:51px;"]
{{ site_url|domain }}##div[style*="width:203px;height:51px;"]

! filters/extended-selectors
{{ site_url|domain }}#?#div:-abp-properties(width: 213px)
{{ site_url|domain }}#?#div:-abp-has(>div>img.testcase-es-has)
{{ site_url|domain }}#?#span:-abp-contains(ESContainsTarget)
{{ site_url|domain }}#?#div:-abp-has(> div:-abp-properties(width: 214px))
{{ site_url|domain }}#?#div:-abp-properties(WiDtH: 215px)
{{ site_url|domain }}#?#div:-abp-properties(cursor:*)
{{ site_url|domain }}#?#div:-abp-properties(/width: 12[1-5]px;/)
{{ site_url|domain }}#?#div > div:-abp-contains(/ESContainsRegEx\d/)

! filters/popup
||{{ site_url|strip_proto }}/en/popuptarget^$popup
! filters/image
{{ site_url|strip_proto }}/testcasefiles/image/$image
! filters/script
{{ site_url|strip_proto }}/testcasefiles/script/$script
! filters/stylesheet
{{ site_url|strip_proto }}/testcasefiles/stylesheet/$stylesheet
! filters/subdocument
{{ site_url|strip_proto }}/testcasefiles/subdocument/$subdocument
! filters/object
{{ site_url|strip_proto }}/testcasefiles/object/$object
! filters/objectsubrequest
{{ site_url|strip_proto }}/testcasefiles/objectsubrequest/$object-subrequest
! filters/xmlhttprequest
{{ site_url|strip_proto }}/testcasefiles/xmlhttprequest/$xmlhttprequest
! filters/ping
{{ site_url|strip_proto }}/*^$ping
! filters/match-case
/testcasefiles/matchcase/*/abc.jpg$match-case

! filters/websocket
$websocket,domain={{ site_url|domain }}
! filters/webrtc
$webrtc,domain={{ site_url|domain }}

! exceptions/elemhide
{{ site_url|domain }}##.testcase-ex-elemhide
||{{ site_url|strip_proto }}/testcasefiles/elemhide/image.jpg
@@{{ site_url|strip_proto }}/en/exceptions/elemhide^$elemhide
! exceptions/document
{{ site_url|domain }}##.testcase-ex-document
||{{ site_url|strip_proto }}/testcasefiles/document/*
@@{{ site_url|strip_proto }}/en/exceptions/document^$document
! exceptions/popup
||{{ site_url|strip_proto }}/en/exceptions/popup^$popup
@@||{{ site_url|strip_proto }}/en/exceptions/popup^$popup
! exceptions/image
||{{ site_url|strip_proto }}/testcasefiles/imageexception/*
@@{{ site_url|strip_proto }}/testcasefiles/imageexception/$image
! exceptions/script
||{{ site_url|strip_proto }}/testcasefiles/scriptexception/*
@@{{ site_url|strip_proto }}/testcasefiles/scriptexception/$script
! exceptions/stylesheet
||{{ site_url|strip_proto }}/testcasefiles/stylesheetexception/*
@@{{ site_url|strip_proto }}/testcasefiles/stylesheetexception/$stylesheet
! exceptions/subdocument
||{{ site_url|strip_proto }}/testcasefiles/subdocumentexception/*
@@{{ site_url|strip_proto }}/testcasefiles/subdocumentexception/$subdocument
! exceptions/xmlhttprequest
||{{ site_url|strip_proto }}/testcasefiles/xmlhttprequestexception/*
@@{{ site_url|strip_proto }}/testcasefiles/xmlhttprequestexception/$xmlhttprequest
! exceptions/element-hiding
{{ site_url|domain }}##.testcase-ehe
{{ site_url|domain }}#@#.testcase-ehe

! Generic hide and generic block
@@{{ site_url|strip_proto }}/*/testcases/generic$generichide,genericblock
testcase-fail.png?specific$domain=www.{{ site_url|domain }}
www.{{ site_url|domain }}###abp-testsuite-tohide-specific
~testcase-exception.adblockplus.org###abp-testsuite-tohide-exceptiononly
testcase-pass.png?exceptiononly$domain=~testcase-exception.adblockplus.org

! FIXME - Exception for the $sitekey served from /sitekey-frame
! @@$sitekey=MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANGtTstne7e8MbmDHDiMFkGbcuBgXmiVesGOG3gtYeM1EkrzVhBjGUvKXYE4GLFwqty3v5MuWWbvItUWBTYoVVsCAwEAAQ

! Circumvention
{{ site_url|domain }}##.testcase-circ-is
{{ site_url|domain }}##.testcase-circ-anoniframe-docwrite
