<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
	<link rel="stylesheet" href="/css/testpages.css">
  </head>
  <body>
  
    <? include header ?>
	
	<section class="abp-container abp-breadcrumb">
	  <a href="/">Home</a>
	  > <a href="/en/testsuite/">Test suite</a>
      {{ breadcrumb|safe }}
	</section>
	
	<section class="abp-container">
	  <h2>Test suite - {{ testsuiteid }}</h2>
      {{ body|safe }}
	</section>
	
	<? include footer ?>
	
  </body>
</html>