<footer class="abp-container">
<h3>Useful links</h3>
<ul class="abp-linkset">
  <li><a href="https://adblockplus.org/">ABP Main Site</a></li>
  <li><a href="https://adblockplus.org/en/filters">ABP Filter Documentation</a></li>
	<li><a href="https://adblockplus.org/en/filter-cheatsheet">ABP Filter Cheatsheet</a></li>
	<li><a href="https://issues.adblockplus.org">ABP Issue Tracker</a></li>
</ul>
<p class="abp-lastupdate">(Site last updated: 2015-08-01)</p>
</footer>