<footer class="abp-container">
<h3>Useful links</h3>
<ul class="abp-linkset">
  <li><a href="https://adblockplus.org/" target="_top">ABP Main Site</a></li>
  <li><a href="https://adblockplus.org/en/filters" target="_top">ABP Filter Documentation</a></li>
	<li><a href="https://adblockplus.org/en/filter-cheatsheet" target="_top">ABP Filter Cheatsheet</a></li>
	<li><a href="https://issues.adblockplus.org" target="_top">ABP Issue Tracker</a></li>
</ul>
<p class="abp-lastupdate">(Site last updated: 2015-08-01)</p>
</footer>
