<section class="site-panel">
  <h2>Testpages Filter Subscription</h2>
  <p>This subscription includes all of the filters required to verify the following test cases.</p>
  <p>You can add this subscription and then click through to each test case page and check that the page state matches the test case description. Alternatively you could add a test cases filter(s) manually in order to check it in isolation.</p>
  <a class="site-button" href="/en/abp-testcase-subscription.txt" target="_blank">View</a>
  <a id="subscribe-button" class="site-button" href="abp:subscribe?location={{ (site_url + "/en/abp-testcase-subscription.txt").replace(":", "%3A").replace("/", "%2F") }}&amp;title=ABP%20Testcase%20Subscription">Subscribe</a>
</section>

<section class="site-panel">
  <h2>Filter test cases</h2>
  <h3>Blocking and hiding filters</h3>
  <ul class="site-pagelist">
    <li>
      <a href="filters/blocking">
        <h3>Blocking</h3>
      </a>
    </li>
    <li>
      <a href="filters/element-hiding">
        <h3>Element Hiding</h3>
      </a>
    </li>
    <li>
      <a href="filters/element-hiding-emulation">
        <h3>Element Hiding Emulation / Extended Selectors</h3>
      </a>
    </li>
  </ul>
  <h3>Filter options</h3>
  <ul class="site-pagelist">
    <li>
      <a href="filters/popup">
        <h3>$popup</h3>
      </a>
    </li>
    <li>
      <a href="filters/image">
        <h3>$image</h3>
      </a>
    </li>
    <li>
      <a href="filters/script">
        <h3>$script</h3>
      </a>
    </li>
    <li>
      <a href="filters/stylesheet">
        <h3>$stylesheet</h3>
      </a>
    </li>
    <li>
      <a href="filters/subdocument">
        <h3>$subdocument</h3>
      </a>
    </li>
    <li>
      <a href="filters/object">
        <h3>$object</h3>
      </a>
    </li>
    <li>
      <a href="filters/object-subrequest">
        <h3>$object-subrequest - Not working yet</h3>
      </a>
    </li>
    <li>
      <a href="filters/xmlhttprequest">
        <h3>$xmlhttprequest</h3>
      </a>
    </li>
    <li>
      <a href="filters/ping">
        <h3>$ping</h3>
      </a>
    </li>
    <li>
      <a href="filters/match-case">
        <h3>$match-case</h3>
      </a>
    </li>
    <li>
      <a href="filters/websocket">
        <h3>$websocket</h3>
      </a>
    </li>
    <li>
      <a href="filters/webrtc">
        <h3>$webrtc - Not working yet</h3>
      </a>
    </li>
    </ul>
    <h3>Exception Filters</h3>
    <ul class="site-pagelist">
    <li>
      <a href="exceptions/elemhide">
        <h3>$elemhide - Exception</h3>
      </a>
    </li>
    <li>
      <a href="exceptions/document">
        <h3>$document - Exception</h3>
      </a>
    </li>
    <li>
      <a class="online" href="exceptions/sitekey">
        <h3>$sitekey - Exception</h3>
      </a>
    </li>
    <li>
      <a href="exceptions/popup">
        <h3>$popup - Exception</h3>
      </a>
    </li>
    <li>
      <a href="exceptions/image">
        <h3>$image - Exception</h3>
      </a>
    </li>
    <li>
      <a href="exceptions/script">
        <h3>$script - Exception</h3>
      </a>
    </li>
    <li>
      <a href="exceptions/stylesheet">
        <h3>$stylesheet - Exception</h3>
      </a>
    </li>
    <li>
      <a href="exceptions/subdocument">
        <h3>$subdocument - Exception</h3>
      </a>
    </li>
    <li>
      <a href="exceptions/xmlhttprequest">
        <h3>$xmlhttprequest - Exception</h3>
      </a>
    </li>
    <li>
      <a href="exceptions/element-hiding">
        <h3>Element Hiding - Exception</h3>
      </a>
    </li>
    </ul>
</section>

<section class="site-panel">
  <h2>Circumvention</h2>
  <ul class="site-pagelist">
    <li>
      <a href="circumvention/inline-style-important">
        <h3>Inline style !important</h3>
      </a>
    </li>
    <li>
      <a href="circumvention/anoniframe-documentwrite">
        <h3>Anonymous iframe document.write()</h3>
      </a>
    </li>
  </ul>
</section>
